* {
    box-sizing: border-box;
}

:root
{
    --banner-height: 80px;
    --nav-width: 300px;
}

body {
    height: 100%;
    width: 100%;
    position: absolute;
    margin: 0;
}

header {    
    text-align: center;
    font-size: 30px;
    font-family: Karla;
    padding: 0;
}

p {
    text-align: center;
    font-size: 12px;
    font-family: Karla;
    padding-bottom: 20px;
    
}

.mySlidestops {
    max-width:15%;
    max-height:15%;
}

.mySlidesbottoms {
    max-width:15%;

}

.sidebar {
    list-style-type: none;
    background-color: white;
    padding: 10px 15px;
    border-radius: 10px;
    border: 2px solid gainsboro;
    
    position: fixed;
    left: 2%;
}

.top-button-left {
    position: relative;
    left: 40%;
}

.button-left {
    position: relative;
    left: 40%;
}

.button-right {
    position: relative;
    left: 56.5%;
}


.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

